html, body {
    margin: 0;
    background: #a19d9d;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    height: 100%
}

video{
    position: fixed;
    opacity: 0;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas*/
    gap:15px;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

button {
    height: 60px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    background: #124e8a;
    color: white;
}

#cursor {
    width: 30px;
    height: 30px;
    background: rgb(9, 209, 192);
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
}