html, body {
    margin: 0;
    background: #dae8f7;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    height: 100%;
    padding-top: 35px;
}

video{
    position: fixed;
    opacity: 0;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas*/
    gap:15px;
    padding: 20px;
    min-height: calc(100vh - 70px);
    box-sizing: border-box;
}

button {
    height: 60px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    background: #124e8a;
    color: white;
}

#cursor {
    width: 30px;
    height: 30px;
    background: rgb(0, 183, 255);
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 2000; /* MAIOR QUE top-bar */
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #dae8f7;
    padding: 10px 20px; /* mais espaço lateral */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    z-index: 1000;
    box-sizing: border-box;
}


#calibrateBtn {
    background: #124e8a;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
}

#statusText {
    font-size: 14px;
    color: #060000;
    white-space: nowrap; /* impede quebrar */
}

